table .col2 { display: none; }

.component {
 line-height: 1.5em;
 margin: 0 auto;
 padding: 2em 0 3em;
 width: 90%;
 max-width: 1000px;
 overflow: hidden;
}

.component .filler {
 color: #d3d3d3;
}

table {
 border-collapse: collapse;
 margin-bottom: 3em;
 width: 100%;
 background: #fff;
}

td,
th {
 padding: 0.75em 1.5em;
 text-align: left;
}

td{
 font-weight: bold;
 color: #000; 
}

th {
 background-color: #000;
 font-weight: bold;
 color: #fff;
 white-space: nowrap;
}

tbody th {
 background-color: #9E9E9E;
}

tbody tr:nth-child(2n-1) {
 /*    background-color: #f5f5f5;*/

 transition: all .125s ease-in-out;
}

tbody tr:hover {
 background-color: rgba(0, 0, 0, 0.3);
}
/* For appearance */

.sticky-wrap {
 overflow-x: auto;
 overflow-y: hidden;
 position: relative;
 /* margin: 3em 0; */
 width: 100%;
}

.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
 opacity: 0;
 position: absolute;
 top: 0;
 left: 0;
 transition: all .125s ease-in-out;
 z-index: 50;
 width: auto;
 /* Prevent table from stretching to full size */
}

.sticky-wrap .sticky-thead {
 box-shadow: 0 0.25em 0.1em -0.1em rgba(0, 0, 0, .125);
 z-index: 100;
 width: 100%;
 /* Force stretch */
}

.sticky-wrap .sticky-intersect {
 opacity: 1;
 z-index: 150;
}

.sticky-wrap .sticky-intersect th {
 background-color: #607D8B;
 color: #eee;
}

.sticky-wrap td,
.sticky-wrap th {
 box-sizing: border-box;
}
/* Not needed for sticky header/column functionality */


.sticky-wrap.overflow-y {
 overflow-y: auto;
 max-height: 50px;
}
