/*
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Amatic+SC:400,700);
/*
@media (luminosity: normal) {
    body {
        background: #f5f5f5;
        color: #262626;
    }
}
@media (luminosity: dim) {
    body {
        background: #e9e4e3;
    }
}
@media (luminosity: washed) {
    body {
        background: #ffffff;
    }
}
*/
/*************SIDEBAR*************/
/********************************/
/*************************
*********Genral***********
**************************/

body {
  width: 100% !important;
  height: 100% !important;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  background: url(../../images/img/low_contrast_linen.png) repeat;
}

html {
  width: 100%;
  height: 100%;
}

.container-fluid {
  padding: 0px 0px 0px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 46px;
  letter-spacing: 1px;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 23px;
}

@media(min-width:767px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}

a {
  color: #219ab3;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #11505d;
}
/************************/
.ui-datepicker-trigger{
  color: #fff;
background-color: #337ab7;
border-color: #2e6da4;
  display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
}


.table-hover>tbody>tr:hover {
background-color: rgba(255, 255, 255, 0.25);
}

.btninline{
  display:inline !important;
}

form{
  font-size:20px;
}

form .btn{
 margin-top:20px;
}
/*************************/

/********* Preloader*******
**************************/

#preloader {
  background: #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 999;
}

@-webkit-keyframes boxSpin{
  0%{
    -webkit-transform: translate(-10px, 0px);
  }
  25%{
    -webkit-transform: translate(10px, 10px);
  }
  50%{
    -webkit-transform: translate(10px, -10px);
  }
  75%{
    -webkit-transform: translate(-10px, -10px);
  }
  100%{
    -webkit-transform: translate(-10px, 10px);
  }
}


@-webkit-keyframes shadowSpin{
  0%{
    -webkit-box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    -webkit-box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    -webkit-box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    -webkit-box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    -webkit-box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

@-moz-keyframes boxSpin{
  0%{
    -moz-transform: translate(-10px, 0px);
  }
  25%{
    -moz-transform: translate(10px, 10px);
  }
  50%{
    -moz-transform: translate(10px, -10px);
  }
  75%{
    -moz-transform: translate(-10px, -10px);
  }
  100%{
    -moz-transform: translate(-10px, 10px);
  }
}


@-moz-keyframes shadowSpin{
  0%{
    -moz-box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    -moz-box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    -moz-box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    -moz-box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    -moz-box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

@-o-keyframes boxSpin{
  0%{
    -o-transform: translate(-10px, 0px);
  }
  25%{
    -o-transform: translate(10px, 10px);
  }
  50%{
    -o-transform: translate(10px, -10px);
  }
  75%{
    -o-transform: translate(-10px, -10px);
  }
  100%{
    -o-transform: translate(-10px, 10px);
  }
}


@-o-keyframes shadowSpin{
  0%{
    -o-box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25%{
    -o-box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50%{
    -o-box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75%{
    -o-box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100%{
    -o-box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

@keyframes boxSpin {
  0% {
    transform: translate(-10px, 0px);
  }
  25% {
    transform: translate(10px, 10px);
  }
  50% {
    transform: translate(10px, -10px);
  }
  75% {
    transform: translate(-10px, -10px);
  }
  100% {
    transform: translate(-10px, 10px);
  }
}
@keyframes shadowSpin {
  0% {
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
  25% {
    box-shadow: 10px 10px #39CCCC, -10px -10px #FFDC00;
  }
  50% {
    box-shadow: -10px 10px #39CCCC, 10px -10px #FFDC00;
  }
  75% {
    box-shadow: -10px -10px #39CCCC, 10px 10px #FFDC00;
  }
  100% {
    box-shadow: 10px -10px #39CCCC, -10px 10px #FFDC00;
  }
}

#event_day,#event_name,#membercount,#day1,#day2,#day3{
  background-color:#000;
}

#load{
  z-index:9999;
  background-color: #FF4136;
  opacity: 0.75;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  margin: -5px auto 0 auto;
  left: 0;
  right: 0;
  border-radius: 0px;
  border: 5px solid #FF4136;
  box-shadow: 10px 0px #39CCCC, 10px 0px #01FF70;
  -webkit-animation: shadowSpin 1s ease-in-out infinite;
  -moz-animation: shadowSpin 1s ease-in-out infinite;
  -o-animation: shadowSpin 1s ease-in-out infinite;
  animation: shadowSpin 1s ease-in-out infinite;
  
}
/*************************
*******Social CSS*********
**************************/

.social-icons {
  padding-top: 500px;
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.5);
}

.social-icons .fa-facebook:hover {
  color: #3B5997
}

.social-icons .fa-instagram:hover {
  color: #675144
}

.social-icons .fa-youtube:hover {
  color: #ec5538
}
/**************************
********Navigation*********
***************************/

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  background-color: #000;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle .dropdown-menu {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  font-size: 14px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-custom .nav li.active {
  outline: none;
  background-color: #4A4A4A;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
  outline: 0;
  background-color: rgba(255, 255, 255, .3);
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-menu>li>a {
  color: inherit;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #fff;
}

 .dropdown-menu {
            width: 300px !important;
            padding: 10px 10px 0px 10px;
        }
 .navbar-nav>li>.dropdown-menu {
            margin-top: 0;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  outline: 0;
  background-color: rgba(255, 255, 255, .3);
}

@media(min-width:767px) {
  .navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background: 0 0;
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
  }
  .top-nav-collapse {
    padding: 0;
    background-color: #000;
  }
  .navbar-custom .top-nav-collapse {
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
}
/*************************
*********About CSS********
**************************/

#about .container {
  padding-top: 110px;
}

#about h3 {
  text-transform: inherit;
  color: #4A4A4A;
}
/*************************
***********Map************
**************************/

#map {
  width: 100%;
  height: 200px;
}

@media(min-width:767px) {
  #map {
    height: 400px;
  }
}
/*************************
******The Inro Section****
**************************/

.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0 !important;
  text-align: center;
  color: #fff;
  background: url(../../images/img/low_contrast_linen.png) repeat;
  background-color: #000;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  background-size: auto;
  -o-background-size: auto;
}

.intro-main {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0 !important;
  text-align: center;
  color: #fff;
  background: url(../../images/img/intro-bg.jpg) no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;

}

.intro .intro-body .brand-heading {
  font-size: 40px;
}

.intro .intro-body .intro-text {
  font-size: 18px;
}

.slogan {
  text-align: center;
  height: 500px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  position: absolute;
}
.pos {
  display: table-cell;
  vertical-align: middle;

}
@media(min-width:767px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 25px;
  }
}
/*************************
********Sponsor***********
**************************/

#sponsor {
  background: url(../../images/img/parallax-bg.jpg) no-repeat center center fixed;
  display: table;
  margin-top: 100px;
  position: relative;
  height: 200px;
  width: 100%;
  padding-bottom: 50px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#sponsor .col-sm-10 {
  z-index: 10;
}

#sponsor h2 {
  margin-top: 90px;
  margin-bottom: 40px;
}

#sponsor .item {
  padding: 0px 0px 40px 0px;
}

@media (max-width: 767px) {
  #sponsor h2 {
    font-size: 30px;
  }
  #sponsor {
    background-position: right 0 bottom 0;
  }
}

@media (max-width: 479px) {
  #sponsor h2 {
    font-size: 30px;
  }
  #sponsor {
    background-position: right 0 bottom;
  }
}

@media(min-width:767px) {
  #sponsor {
    height: 400px;
    margin-top: 100px;
  }
}
/*************************
******Events CSS*********
**************************/

#events {
  padding-bottom: 55px;
}
/*************************
******Contact CSS*********
**************************/

address a {
  font-size: 22px;
  font-family: 'Droid Sans Mono', Consolas, monospace;
}

#contact .container {
  padding-top: 55px;
}

.contact-section {
  background-color: #f7ab24;
  background-position: 60% 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.ear-piece {
  position: absolute;
  left: 0;
  top: 0;
}

#contact h3 {
  text-transform: inherit;
  color: #4A4A4A;
}

#contact-section h3 {
  margin-bottom: 25px
}

#contact address {
  font-size: 18px;
  color: #4A4A4A;
}

.contact-text {
  margin-bottom: 35px;
  display: block;
}

#contact-section .form-control {
  border-color: #ae750d;
  box-shadow: none;
  outline: 0 none;
  border-radius: 0;
  color: #797979;
  font-size: 18px;
}

#contact-section .form-control:focus {
  border-color: #ae750d;
}

#contact-section input {
  height: 44px;
}

#contact-section textarea {
  height: 90px;
  resize: none;
}

#contact-section .btn-primary {
  background-color: #4A4A4A;
  color: #f7ab24;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 97px;
  margin-top: 10px
}

#contact-section .btn-primary:hover {
  background-color: #212020;
  color: #fff
}

@media (min-width: 768px) and (max-width: 991px) {
  .ear-piece {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 100%;
  }
  .ear-piece {
    left: -15%;
  }
}

@media (max-width: 767px) {
  .container {
    display: none;
  }
  .container {
    display: block;
  }
  .container {
    width: 100%;
  }
  .ear-piece {
    display: none;
  }
  .contact-section {
    background-position: left 0 bottom 0;
    background-size: cover;
  }
}

@media (max-width: 479px) {
  .container {
    display: none;
  }
  .container {
    display: block;
  }
  .container {
    width: 100%;
  }
  .ear-piece {
    display: none;
  }
  .contact-section {
    background-position: left 0 bottom 0;
    background-size: cover;
  }
}
/*-------------------------
	The footer
--------------------------*/